package hello

import (
    "net/http"
    "github.com/gin-gonic/gin"
)

type Controller struct {
    service *Service
}

func NewController(service *Service) *Controller {
    return &Controller{service: service}
}

func (ctrl *Controller) HandleRoot(c *gin.Context) {
    message := ctrl.service.GetMessage()
    c.JSON(http.StatusOK, gin.H{"message": message.Message})
}
