package hello

import (
  "github.com/gin-gonic/gin"
  "{{.ProjectModuleName}}/pkg/infrastructure"
)

type Route struct {
    router *infrastructure.Router
    controller *Controller
    groupRouter *gin.RouterGroup
}

func NewRoute(router *infrastructure.Router, controller *Controller) *Route {
	route := Route{router: router, controller: controller}
  route.groupRouter = route.router.Group("api/hello")
	return &route
}

func RegisterRoute(r *Route) {
	r.groupRouter.GET("", r.controller.HandleRoot)
}
