package hello

import (
    "net/http"
    "github.com/gin-gonic/gin"
    "{{.ProjectModuleName}}/domain/dtos"
)


type Controller struct {
    service *Service
}

func NewController(service *Service) *Controller {
    return &Controller{service: service}
}

func (c *Controller) HandleRoot(ctx *gin.Context) {
    message := c.service.GetMessage()
    res := dtos.HelloDTO{Message: message.Message}
    ctx.JSON(http.StatusOK, gin.H{"data": res.Message})
}
