package hello

import (
  "{{.ProjectModuleName}}/pkg/infrastructure"
)

type Route struct {
    router *infrastructure.Router
    controller *Controller
}

func NewRoute(router *infrastructure.Router, controller *Controller) *Route {
	route := Route{router: router, controller: controller}
	return &route
}

func RegisterRoute(r *Route) {
  api := r.router.Group("/api")
	api.GET("hello", r.controller.HandleRoot)
}
