package pkg

import (
	"github.com/mukezhz/test/pkg/framework"
	"github.com/mukezhz/test/pkg/infrastructure"
	"github.com/mukezhz/test/pkg/middlewares"
	"github.com/mukezhz/test/pkg/services"

	"go.uber.org/fx"
)

var Module = fx.Module("pkg",
	framework.Module,
	services.Module,
	middlewares.Module,
	infrastructure.Module,
)
