package {{.PackageName}}

import (
	"{{.ProjectModuleName}}/domain/models"
)

type Repository struct {
}

func NewRepository() *Repository {
	return &Repository{}
}

func (s *Repository) GetMessage() models.{{.ModuleName}}Model {
	return models.{{.ModuleName}}Model{Message: "Hello World"}
}
