package {{.PackageName}}

import (
    "go.uber.org/fx"
)

var Module = fx.Module("{{.PackageName}}",
	fx.Options(
		fx.Provide(
			New{{.ModuleName}}Service,
			New{{.ModuleName}}Controller,
		),
		fx.Invoke(New{{.ModuleName}}Route),
	),
)
