package bootstrap

import (
	"{{.ProjectModuleName}}/domain"
	"{{.ProjectModuleName}}/migrations"
	"{{.ProjectModuleName}}/pkg"
	"{{.ProjectModuleName}}/seeds"

	"go.uber.org/fx"
)

var CommonModules = fx.Module("common",
	fx.Options(
		pkg.Module,
		seeds.Module,
		migrations.Module,
		domain.Module,
	),
)
