package domain

import (
    "{{.ProjectModuleName}}/domain/hello"
    "{{.ProjectModuleName}}/domain/middlewares"

    "go.uber.org/fx"
)

var Module = fx.Options(
	middlewares.Module,
	hello.Module,
)
