package domain

import (
    hahaha/domain/features"
    hahaha/domain/middlewares"
    hahaha/domain/repository"

    "go.uber.org/fx"
)

var Module = fx.Options(
	repository.Module,
	middlewares.Module,
	features.Module,
)
