package {{.PackageName}}

import (
  "github.com/gin-gonic/gin"
  "{{.ProjectModuleName}}/pkg/infrastructure"
)

type {{.ModuleName}}Route struct {
    router *infrastructure.Router
    controller *{{.ModuleName}}Controller
    groupRouter *gin.RouterGroup
}

func New{{.ModuleName}}Route(router *infrastructure.Router, controller *{{.ModuleName}}Controller) *{{.ModuleName}}Route {
	route := {{.ModuleName}}Route{router: router, controller: controller}
  route.groupRouter = router.Group("api/{{.PackageName}}")
	route.RegisterHelloRoutes()
	return &route
}

func (r *{{.ModuleName}}Route) RegisterHelloRoutes() {
	r.groupRouter.GET("/", r.controller.HandleRoot)
}
